
body{
    background: #fbfbfb;
    color:#2C2C2C;

}

/*数字字体设置*/
@font-face {
    font-family: DIN_Alternate;
    src: url("../fonts/DIN_Alternate_Bold.ttf");
}

/*公共css*/
img{
    vertical-align: top;
}
a{
    color:#0076FF;
}

/*字体*/
.xd_fz_12{
    font-size: 12px;
}
.xd_fz_14{
    font-size: 14px;
}
.xd_fz_16{
    font-size: 16px;
}
.xd_fz_18{
    font-size: 18px;
}
.xd_fz_20{
    font-size: 20px;
}

/*边距*/
.xd_padd{
    padding:10px;
}
.xd_padd_top{
    padding-top:10px;
}
.xd_padd_bottom{
    padding-top:10px;
}
.xd_padd_about{
    padding:0 10px;
}
.xd_padd_updowm{
    padding:10px 0;
}
.xd_margintop{
    margin-top: 10px;
}


/*颜色*/
.xd_black{
    color:#2C2C2C;
}
.xd_red{
    color:#FD5042;
}


/*文本位置*/
.xd_text_left{
    text-align: left;
}
.xd_text_center{
    text-align: center;
}
.xd_text_right{
    text-align: right;
}


/*flex布局*/
.xd-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.xd-flex__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
            flex: 1;
}

/*图标*/
.van-icon-qrcode{
    background: url(../images/xd_qrcode.png) no-repeat;
}

/*协议*/
.z_reg_x {
	padding: 1em;
	background: #fff;
	font-size: 14px;
	line-height: 30px;
}

.z_reg_x .title {
	text-align: center;
    font-size: 16px;
    margin:0;
}

.z_reg_x h2 {
	font-size: 1.1em;
	font-weight: normal;
	text-indent: 30px;
}

.z_reg_x p {
    text-indent: 30px;
    color:#4c4c4c;
    position: initial;
    left:0;
    top: 0;
}
.z_reg_x b{
    display: block;
    text-indent: 30px;
}

.xd_popup_btn{
    line-height: 44px;
    text-align: center;
    background: #DC2213;
    color:#fff;
}
.popup_left,.popup_right{
    width: 60px; 
    font-size: 14px; 
}
.xd_popup_btn.btn_top{
    border-top:1px solid #E6E6E6;
}
.xd_popup_btn .btn_fff{
    background: #fff;
    color:#2c2c2c;
}


/*vant 样式重写*/
/*button*/
.van-button{
    border-radius: 4px;
} 
.van-button--primary{
    background: #DC2213 !important;
    border:1px solid #DC2213 !important;
}
.van-button--default{
    border: 1px solid #C3BABA;
}

.van-button--normal{
    width:100%;
}

[class*=van-hairline]::after{
    border:1px solid #E6E6E6;
    border-left:0;
    border-right:0;
}
.van-cell:not(:last-child)::after{
    border-bottom:1px solid #E6E6E6;
}
.van-cell{
    padding:15px;
    color:#2B2B2B;
}
.van-checkbox__icon--checked .van-icon{
    border-color: #DC2213 !important;
    background-color: #DC2213 !important;
}

/*vant popup 弹出*/
.xd_popup_full{
    width: 100%;
    height:100%;
}
/*vant dialog 弹框样式改写*/
.van-dialog{
    border-radius: 10px !important;
    width: 80% !important;
}
.van-dialog .van-dialog__header{
    padding-top:0;
    font-weight: normal;
    padding:15px 0 4px 0;
    font-size: 14px;
    color: #4D4D4D;
}
.van-dialog__message--has-title{
    font-size: 15px !important;
    color: #2C2C2C !important;
    line-height: 24px;
}
.van-dialog [class*=van-hairline]::after{
    border:0;
    position: initial;
}
.van-dialog [class*=van-hairline]{
    position: initial;
}
.van-dialog .van-dialog__footer{
    overflow: initial;
    padding-bottom: 15px;
    height: 50px;
}
.van-dialog .van-dialog__cancel{
    position: absolute;
    right:10px;
    top: 10px;
    width: 20px;
    height:20px;
    background: url('../images/xd_dia_close.png') no-repeat center;
}
.van-dialog .van-dialog__cancel span{
    display: none;
}
.van-dialog .van-dialog__confirm{
    position: absolute;
    bottom:25px;
    left:50%;
    width: auto;
    padding:0 20px;
    background: #D0021B;
    z-index: 20002;
    color:#fff;
    height: 38px;
    line-height: 38px;
    border-radius: 44px;
    min-width: 120px;
    -webkit-transform: translate(-50%,-50%);  
    -ms-transform: translate(-50%,-50%); 
    transform: translate(-50%,0);
}



/*按钮在浏览器底部样式*/
.xd_btn_but_h{
    height:64px;
}
.xd_btn_but{
    position: fixed;
    left:50%;
    bottom:0;
    width:100%;
    max-width: 640px;
    padding:10px;
    width: -moz-calc(100% - 20px); 
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
}


.xd_top_h{
    padding:0 10px;
    line-height: 26px;
    color:#A7A7A7
}

.xd_qrcode_t{
    padding:40px 0;
}



